header.header 
  .header-container 
    .header-text 
      h1 Korean restaurants in Melbourne
      p Best places for enjoying Korean cuisine with me!
      a#btn-color.btn.margin-right(href='#places') Let's go
      a#btn-color.btn.add-place-btn(href='#newPlace') Add new place