* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: #555;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1;
  background-color: #fdf2e9;
}

/* ************************************ */
/* HERO   */
/* ************************************ */

.header {
  height: 100vh;
  /* max-width: 135rem; */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.6)
    ),
    url(../img/hero.webp);
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
}

.header-text {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50%;
}

h1 {
  font-size: 6.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

header p {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
}

.btn:hover,
.btn:active {
  font-size: 2.2rem;
}

#btn-color {
  background-color: #e67e22;
  color: #fff;
}

/* ************************************ */
/* SECTION */
/* ************************************ */

.heading {
  text-align: center;
  margin-top: 12.8rem;
  margin-bottom: 9.6rem;
  position: relative;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  position: absolute;
  top: 0;
  left: 22%;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  padding-top: 2.4rem;
  letter-spacing: -0.5px;
  color: #333;
}

/* ************************************ */
/* SORT BOX */
/* ************************************ */

.sort-btn {
  position: absolute;
  top: -3%;
  right: 7%;
  border: none;
  cursor: pointer;
  background: none;
  padding: 1.6rem 2.4rem;
  border-radius: 11px;
  background-color: #fae5d3;
  color: #555;
}

.sort-icon,
.place-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.sort-box-list {
  background-color: #fae5d3;
  list-style: none;
  padding: 1.6rem 3.2rem;
  border-radius: 11px;
  position: absolute;
  top: 0;
  right: 6.5%;
  text-align: start;
  z-index: 9999;
  /* Hide  */
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* Hide it from screen readers */
  visibility: hidden;
}

.open .sort-box-list {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  /* transform: translateX(0); */
}

.sort-box-list button,
.sort-btn span {
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 11px;
  font-size: 2rem;
  line-height: 1.6;
  color: #555;
}

.list {
  position: relative;
}

.sort-btn:hover span,
.sort-btn:hover,
.sort-box-item:hover button {
  color: #e67e22;
}
/* ************************************ */
/* PLACES */
/* ************************************ */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  list-style: none;
}

.sort-list:last-child {
  margin-bottom: 6.4rem;
}

.sort-item {
  background-color: #fff;
  border-radius: 13px;
  scroll-behavior: smooth;
}

.place {
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 30rem 1fr;
  column-gap: 4.8rem;
}

.place-img {
  width: 30rem;
  display: block;
}

.place-video-box,
.place-img-box {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.place-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  background-size: cover;
  overflow: hidden;
  width: auto;
  height: auto;
  object-fit: cover;
}

#place-name {
  font-size: 3rem;
  line-height: 1.2;
  color: #333;
  padding-top: 2rem;
  text-align: center;
  display: block;
  font-weight: bold;
}

#place.name:hover {
  font-size: 3.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-item {
  font-size: 2rem;
  line-height: 1.6;
  color: #555;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.place-icon {
  color: #e67e22;
}

.place-address:link,
.place-address:visited,
.tel:link,
.tel:visited {
  text-decoration: none;
  color: #555;
}

.place-address:hover,
.place-address:active,
.tel:hover,
.tel:active {
  color: #e67e22;
}

.btn--review {
  position: absolute;
  bottom: 10%;
  right: 3%;
  background-color: #e67e22;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
}
/* ************************************ */
/* PLACE PAGE*/
/* ************************************ */

.place-title-name {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  text-align: center;
  margin-bottom: 5rem;
  display: block;
}

.btn-back {
  position: absolute;
  top: 3%;
  left: 1%;
}

.review-name {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#center {
  text-align: center;
}

.section-reviews {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1000;
  background-color: #fdf2e9;
  border-radius: 5rem;
  display: block;
}

.reviews {
  padding: 1rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow: auto;
}

.reviews::-webkit-scrollbar {
  color: #e67e22;
}

.reviews__card {
  width: 30rem;
  padding: 4rem;
  background-color: rgba(250, 229, 211, 0.97);
  border-radius: 3px;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.reviews:before,
.reviews:after {
  content: "";
  width: 2rem;
}

.delete-review {
  position: absolute;
  top: 6%;
  right: 5%;
  border: none;
  cursor: pointer;
  background: none;
}

.reviews__avatar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews__avatar-img {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.reviews__user {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.reviews__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}
.reviews__rating {
  margin-top: auto;
  display: flex;
}
.reviews__star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.reviews__star--active {
  fill: #e67e22;
}
.reviews__star--inactive {
  fill: #bbb;
}

/* ************************************ */
/* ADD NEW REVIEW FORM */
/* ************************************ */

.form-place,
.form-review {
  max-width: 100%;
  padding: 0 2rem 2rem 2rem;
  background-color: rgba(250, 229, 211, 0.97);
  z-index: 999;
  border-radius: 9px;
  position: relative;
  border: 1px solid #555;
}

.form-item {
  margin-bottom: 1.5rem;
}
.form-item:last-child {
  margin: 0;
}

.form-label {
  color: #555;
  font-size: 2rem;
  font-weight: 400;
}

.form-input {
  border: none;
  width: 100%;
  padding: 1.5rem;
  margin-top: 0.5rem;
}

.form-input-btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: none;
  padding: 1.6rem 2.4rem;
  border-radius: 11px;
  background-color: #fae5d3;
  color: #555;
}

.btn-clear {
  position: absolute;
  right: 2%;
  bottom: 10%;
}

.btn-form {
  background-color: #e67e22;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
}

.btn-form:hover {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}
/* ////////////////////////////////// */
/* Btn top */
/* ////////////////////////////////// */

.btn-top:link,
.btn-top:visited,
.btn-top:hover,
.btn-top:active {
  position: fixed;
  bottom: 5%;
  right: 2%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
  height: 5.4rem;
  z-index: 999;
}

.icon-top {
  width: 5.2rem;
  height: 5.2rem;
  color: #e67e22;
}

.icon-top:hover {
  width: 5.4rem;
  height: 5.4rem;
}

/* ////////////////////////////////// */
/* Footer */
/* ////////////////////////////////// */
.footer {
  padding: 5rem 5rem 2rem 5rem;
}

.hide {
  display: none;
}

.margin-right {
  margin-right: 5rem;
}

/* ////////////////////////////////// */
/* Alert */
/* ////////////////////////////////// */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/*////////////////////////////////// QUERIES/////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */

/* ************************* */
/* BELOW 944px (Tablets) */
/* ************************* */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 50% */
    font-size: 50%;
  }

  .place {
    column-gap: 3.2rem;
    grid-template-columns: 30rem 1fr;
  }
}

/* ************************* */
/* BELOW 768px (Smaller Tablets) */

/* ************************* */

@media (max-width: 48em) {
  .place {
    display: flex;
    flex-direction: column;
  }

  .btn--info:link,
  .btn--info:visited,
  .btn--info:hover,
  .btn--info:active {
    position: static;
    display: inline-block;
    text-align: center;
  }

  .btn--review:link,
  .btn--review:visited,
  .btn--review:hover,
  .btn--review:active {
    position: static;
    display: inline-block;
    text-align: center;
  }

  .sort-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 3.6rem;
    padding: 0 3.6rem;
  }

  .place-video-box,
  .place-img-box {
    align-self: center;
  }

  .list {
    /* gap: 0; */
    padding: 1.2rem;
  }

  .subheading {
    left: 12%;
  }

  /* .place-icon {
    width: 16px;
    height: 16px;
  } */

  .list-item {
    /* gap: 1.2rem; */
    flex-wrap: wrap;
    align-content: stretch;
  }
}

/* dont work yet */

/* ************************* */
/* BELOW 544px (Phones) */
/* ************************* */

@media (max-width: 34em) {
  .sort-btn {
    top: -1.5%;
  }

  .sort-box-list {
    top: -0.3%;
  }

  .sort-list {
    grid-template-columns: 30rem;
    justify-content: center;
  }

  .add-place-btn {
    position: absolute;
    right: -80%;
  }

  .btn-clear {
    position: static;
  }

  .list {
    padding: 1.2rem 0.5rem;
  }

  .place-address {
    display: block;
  }
}
